## Importing libraries

In [27]:
#Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## importing Boat Dataset

In [7]:
path = r'C:\Users\ACER NITRO\Documents\Boat_dataset'

In [8]:
df = pd.read_csv(os.path.join(path,  'boat_data.csv'), index_col = False)

## Understanding Data

In [9]:
df.shape

(9337, 10)

In [10]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
3,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58
4,CHF 3600,Catamaran,NaN,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,Switzerland Â» Neuenburgersee Â» Yvonand,474

In [11]:
df.rename(column ={'Unnamed: 7'}:{'Material'},inplace = True)

SyntaxError: invalid syntax (42962409.py, line 1)

In [12]:
df.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9337.000000  9328.000000  9282.000000                  9337.000000
mean   2004.914962    11.751177     3.558964                   150.219557
std      16.356241     6.029415     1.218831                   154.654566
min    1885.000000     1.040000     0.010000                    13.000000
25%    1999.000000     7.570000     2.550000                    70.000000
50%    2008.000000    10.500000     3.400000                   108.000000
75%    2018.000000    14.000000     4.270000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

In [13]:
df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Location', 'Number of views last 7 days'],
      dtype='object')

In [14]:
df.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Type                            object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Number of views last 7 days      int64
dtype: object

## Data consistency check

In [15]:
# checking for missing  values
df.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1286
Type                              5
Year Built                        0
Length                            9
Width                            55
Material                       1662
Location                         36
Number of views last 7 days       0
dtype: int64

In [16]:
##making a subset of nan values Material column
df_nan = df[df['Material'].isnull() ==True]

In [17]:
df_nan

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
2,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
5,EUR 3333,Fishing Boat,Crescent power boats,new boat from stock,2019,3.64,1.37,NaN,Germany Â» Bayern Â» Boote+service Oberbayern,45
6,EUR 3300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.35,1.73,NaN,Italy Â» Dormelletto,180
11,DKK 30000,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,124
...,...,...,...,...,...,...,...,...,...,...
9321,DKK 36500,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,96
9322,DKK 36500,Fishing Boat,Hunter power boats,Used boat,2000,5.00,1.00,NaN,Denmark Â» Svendborg,87
9327,EUR 4799,Working Boat,NaN,"new boat from stock,Electric",2019,3.64,1.37,NaN,Germany Â» Bayern Â» Boote Jochum,41
9333,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9335,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266

In [18]:
##making a subset of nan values Manufacturer  column
df_nan_manufacture = df[df['Manufacturer'].isnull() ==True]

In [19]:
df_nan_manufacture

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
4,CHF 3600,Catamaran,NaN,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,Switzerland Â» Neuenburgersee Â» Yvonand,474
11,DKK 30000,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,124
13,EUR 4000,Cabin Boat,NaN,"Used boat,Unleaded",2011,6.37,2.31,GRP,Germany Â» Bayern Â» Forchheim/Ofr.,330
17,EUR 3900,Cabin Boat,NaN,Used boat,1985,6.53,2.47,NaN,"France Â» Marseille, France",383
20,CHF 4000,Fishing Boat,NaN,"Used boat,Unleaded",1994,5.60,1.58,GRP,Switzerland Â» Lake of Zurich Â» Altendorf SZ,641
...,...,...,...,...,...,...,...,...,...,...
9319,EUR 4999,Pilothouse,NaN,"Used boat,Diesel",1955,9.00,3.00,GRP,Germany Â» Schleswig-Holstein Â» Burg/Dithmars...,173
9320,EUR 4990,Cabin Boat,NaN,Unleaded,1987,6.50,2.50,GRP,Germany Â» Verkaufshafen Brandenburg-Plaue,190
9321,DKK 36500,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,96
9327,EUR 4799,Working Boat,NaN,"new boat from stock,Electric",2019,3.64,1.37,NaN,Germany Â» Bayern Â» Boote Jochum,41
9329,EUR 4790,Classic,NaN,Used boat,1962,4.10,1.50,Wood,Austria Â» PÃ¶llau,188

In [20]:
df.shape

(9337, 10)

In [21]:
#addressing missing values
df_clean = df[df['Material'].isnull() == False]

In [22]:
df_clean = df_clean[df_clean['Manufacturer'].isnull() == False]

In [23]:
df_clean = df_clean[df_clean['Location'].isnull() == False]

In [24]:
# impute missing values in width column with mean value 
df_clean['Width'].fillna(3.52, inplace = True)

In [25]:
# impute missing values in Length column with mean value 
df_clean['Length'].fillna(11.5, inplace = True)

In [42]:
df_clean.isnull().sum()

Price                          0
Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Location                       0
Number of views last 7 days    0
dtype: int64

In [43]:
df_clean.shape

(7037, 10)

In [45]:
# finding duplicates 
df_dup = df_clean[df_clean.duplicated()]

No duplicates found

In [49]:
#Mixed data types
for col in df_clean.columns.tolist():
  weird = (df_clean[[col]].applymap(type) != df_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_clean[weird]) > 0:
    print (col)

No Mixed data types found

In [26]:
#Export clean data
df_clean.to_csv(os.path.join(path, 'boat_clean.csv'))